html {
  background-color: rgba(0, 0, 0, 70%);
  color: #fff;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-items: center;
  text-align: center;
  justify-content: center;
}

button {
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: white;
  height: 200px;
  width: 400px;
}

button:hover {
  background-color: blue;
}
